@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@model TeslaMed.ViewModels.ChangePasswordViewModel
@{
    ViewData["Title"] = @Localizer["Header"];
}
<h2 class="text-dark text-center">@Localizer["Header"] -@ViewBag.User.Name @ViewBag.User.Surname-</h2>
<div class="container">
    <form method="post" asp-controller="Account" asp-action="ChangePassword" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" />
        <div class="mb-3 mt-3">
            <label asp-for="Password" class="control-label">Пароль</label>
            <span asp-validation-for="Password" class="text-danger"></span>
            <input asp-for="Password" class="form-control" placeholder=@Localizer["PasswordPlaceholder"]>
        </div>
        <div class="mb-3 mt-3">
            <label asp-for="ConfirmPassword" class="control-label">Подтвердите пароль</label>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            <input asp-for="ConfirmPassword" class="form-control" placeholder=@Localizer["ConfirmPlaceholder"]>
        </div>
        <div class="text-center mb-3">
            <input class="btn btn-success me-3" type="submit" value=@Localizer["ButtonEdit"] /> <a class="btn btn-primary" asp-action="Edit" asp-controller="Account" asp-route-id="@ViewBag.User.Id">@Localizer["ButtonBack"]</a>
        </div>
    </form>
</div>
@section Scripts
    {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
